
#page-1 {
    max-width: 600px;
    margin:             0px;
    text-overflow:      ellipsis;
    overflow:           hidden;
    background-image:   url("../images/2025-christmas-photo-1.jpg");
    background-size:    cover; 
    background-repeat:  round;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border: 1px solid #d5d5d5;
}
